/* start global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    letter-spacing: 0.2rem;
}

html,
body {
    position: relative;
    height: 100%;
    /* overflow: hidden; */
}

:root {
    --text-color: #ffffff;
    --black-color: black;
    --nav-margin: 4rem;
    --underline-color: #1c1c1c;
    --small-font: 12px;
    --title-size: 30px;
}

body {
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    background-color: #efefef;
}

.white-button {
    all: unset;
    background-color: var(--text-color);
    padding: 10px;
    color: var(--black-color);
    transition: background 0.7s ease-out, border 0.3s, color 0.3s;
    background: linear-gradient(to left, var(--text-color), var(--text-color)) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box !important;
    height: 6.5vh;
}

.white-button:hover {
    background-position: -100% 0;
    background-size: 0% 100%;
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.black-button {
    all: unset;
    background-color: var(--black-color);
    padding: 10px;
    color: var(--text-color);
    transition: background 0.7s ease-out, border 0.3s, color 0.3s;
    background: linear-gradient(to left, var(--black-color), var(--black-color)) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box !important;
    height: 6.5vh;
}

.black-button:hover {
    background-position: -100% 0;
    background-size: 0% 100%;
    border: 1px solid black;
    color: var(--black-color) !important;
}

.narrow-letter-space {
    letter-spacing: 0.1rem !important;
}

/* end global style */


/* start header */
header {
    height: 100vh;
    max-height: 100vh;
}

.sale {
    background-color: #1c1c1c;
    padding: 1rem 0;
    height: 75px;
    font-size: 0.85rem;
}

.sale a {
    all: unset;
    cursor: pointer;
    position: relative;
    padding-bottom: 3px;
}

.sale a::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: .3s ease-in-out;
}

.sale a:hover::after {
    width: 0;
}

.time-indicator {
    font-size: 0.7rem;
}

/* start navbar */
.navbar {
    background-color: transparent !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    color: var(--text-color) !important;
    padding: 0 !important;
    height: 12vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 75px;
}

.navbar:hover {
    background-color: var(--text-color) !important;
    color: black !important;
}

.navbar:hover .nav-link {
    color: black !important;
}

.nav-link {
    color: var(--text-color) !important;
    transition: color 0.3s;
}

.navbar-brand {
    width: 150px !important;
}

.navbar-brand img {
    width: 100%;
    transition: 0.3s;
}

.nav-item button {
    all: unset;
}

#nav .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 12vh !important;
}

#nav .navbar-collapse {
    flex: 1;
}

#nav .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#nav .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    margin: 0 10px;
}

.navbar-toggler {
    position: relative;
    z-index: 1000;
}

.navbar-toggler-icon {
    color: var(--text-color) !important;
    transition: background-color 0.3s;
    z-index: 1000 !important;
}

/* start hero */
.hero {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    /* height: calc(100vh - 75px); */
}

.hero .hero-swiper {
    width: 100%;
    /* height: calc(100vh - 25px); */
    height: 100vh;
    position: relative;
}

.hero .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.slide-content button {
    box-sizing: border-box !important;
}

.hero-slide-video p {
    font-size: var(--small-font);
}

.slide1-btns {
    width: 15rem;
}

.slide1-btns button {
    font-size: 12px;
    height: 5.5vh;
    width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide-lenova .slide-content {
    border: 1px solid var(--text-color);
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22rem;
}

.slide-lenova .slide-content h2 {
    width: 70%;
}

@media(max-width:768px) {
    .anouncament {
        width: 40%;
    }

    .shop-now {
        display: none !important;
    }

    .hero-slide90s .slide-content {
        width: 22rem;
    }

    .slide-lenova .slide-content{
        width: 18rem;
    }

    .hero , .hero .hero-swiper {
        height: calc(100vh - 75px);
    }

}

/* end header */


/* second section */
.products-categories {
    margin: auto;
    width: fit-content;
}

.products-categories p {
    font-size: 2rem;
    font-weight: 100;
}

.prod-card {
    position: relative;
}

.add-button {
    all: unset;
    background-color: var(--text-color);
    color: rgb(27, 27, 27);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 5px;
    bottom: 15px;
    display: none;
    font-size: 20px;
    transform: translateX(-50%);
    box-shadow: 0 2px 3px rgba(128, 127, 127, 0.2);
    border-radius: 5px;
}


.prod-card:hover .add-button {
    display: block;
}

.prod-img img {
    width: 100%;
}

.prod-card h6 {
    font-size: 15px;
}

.prod-card p {
    font-size: 14px;
    color: gray;
}

.active {
    position: relative;
}

.active::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--underline-color);
    transition: .3s ease-in-out;
}

.active:hover::after {
    width: 0;
}


.featured-button {
    width: fit-content;
    margin: auto;
    height: 6.5vh;
}


/* third section */
.new-product-section {
    background-image: url(imgs/section3-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 12vh);
    width: 100%;
    position: relative;
}


.new-product-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 25, 25, 0.199);
    z-index: 1;
}

.new-product-section .text {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 2;
    color: var(--text-color);
    padding: 10px;
}

.new-product-section .text p {
    font-size: 14px;
    color: #efefef;
}

.new-product-section button {
    height: 6.5vh;
    display: block;

}

@media(max-width:768px) {
    .new-product-section {
        height: 50vh;
    }

    .new-product-section .text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .new-product-section button {
        width: 6.3rem;
    }

    .new-product-section h3 {
        margin: 1.1rem 0 !important;
    }

    .new-product-section p {
        margin-bottom: 0;
    }
}

/* fourth section */
.categories {
    padding: 20px;
}

.position-relative {
    position: relative;
    overflow: hidden;
}

.women {
    height: 100vh;
    /* Adjust height as needed */
    background-size: cover;
    background-position: center;
}

.men,
.accessories {
    height: 42.8vh;
    /* Adjust height as needed */
    background-size: cover;
    background-position: center;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 10;
    font-size: 17px;
}

.img-container {
    overflow: hidden;
    width: 100%;
}

.img-container img {
    transition: 2s ease-in-out all;
}

.img-container:hover img {
    transform: scale(1.08);
}

@media(max-width:768px) {

    .women,
    .men,
    .accessories {
        height: 30vh;
    }
}

/* fifth section */
.weekend p:first-of-type {
    font-size: 14px;
}

.weekend p:last-of-type {
    font-size: 1.8rem;
}


/* sixth section */
.video-section {
    height: 70vh;
    width: 100%;
    /* overflow: hidden;  */
    position: relative;
}

.video-section video {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.video-container {
    /* position: relative; */
    width: 100%;
    margin: auto;
}

.play-div {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}


.play-div button {
    all: unset;
    background: rgba(255, 255, 255, 1);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #ac5b35;
    font-size: 30px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
}

@media(max-width:768px){
    .play-div button {
        font-size: 45px; 
    }
}

/* seven section */
.collaboration-container {
    width: 80%;
    margin: auto;

}

.collaboration-text,
.double-imgs {
    width: 48%;
}

.double-imgs {
    position: relative;
}

.double-imgs img {
    width: 100%;
    object-fit: cover;
}

.bottom-img,
.top-img {
    width: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.bottom-img {
    position: absolute;
    top: 25%;
    right: 20%;
}

.collaboration-text p {
    font-size: 14px;
}

.collaboration-text h3 {
    font-size: 20px;
    width: 80%;
}

.collaboration-text button {
    font-size: 14px;
    height: 6.5vh;
}

@media (max-width:768px) {

    .collaboration-container,
    .collaboration-text,
    .double-imgs {
        width: 100%;
    }

    .collaboration-container {
        padding: 0 20px;
    }

}

/* eigth section */
.materials {
    background-image: url(./imgs/materials-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 100%;
    font-size: var(--small-font);
}

.materials a {
    all: unset;
    cursor: pointer;
    color: var(--black-color);
    position: relative;
    padding: 5px;
}

.materials a::after {
    content: '';
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 5%;
    background-color: var(--underline-color);
    transition: .3s ease-in-out;
}

.materials a:hover::after {
    width: 0;
}

@media(max-width:768px) {
    .materials-text {
        width: 75% !important;
    }
}

/* ninth section */

/* tenth section */
.sale-section {
    background-image: url(./imgs/sale-section-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 12vh);
}

.sale-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 25, 25, 0.226);
    /* z-index: 1;  */
}

.sale-section-content {
    width: 90%;
    margin: auto;
}

.sale-section-text {
    z-index: 2;
    width: 50%;
    position: relative;
}

.sale-section-counter {
    z-index: 2;
    width: 30%;
    position: relative;
}

.sale-section-text p {
    font-size: var(--small-font);
    color: #efefef;
}

.sale-section-text h3 {
    font-size: var(--title-size);
}

.sale-section-text button {
    font-size: var(--small-font);
}

.sale-time p:first-of-type {
    font-size: var(--title-size);
}

.sale-time-indicator {
    font-size: var(--small-font);
}

@media(max-width:768px) {
    .sale-section {
        height: 60vh;
    }

    .sale-section-text {
        width: 100%;
        text-align: center;
    }
}

/* eleven section */

.discover-card-img {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 2px;
    height: 28vh;
}

.discover-card-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 25, 25, 0.226);
    z-index: 1;
}

.discover-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 2s ease-in-out all;
    z-index: 0;
}

.discover-card-img:hover img {
    transform: scale(1.1);
}

.discover-card-img+p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    z-index: 2;
    font-size: 18px;
    text-wrap: wrap;
    color: rgb(240, 239, 239);
}


/* split screen style */


.split-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.spit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.split-text {
    margin-bottom: 20px;
}

.split-products {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    height: 80%;
    width: 100%;
}

.split-product {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: width 0.3s ease;
}

.split-product img {
    max-height: 100%;
    max-width: 100%;
}

.gutter {
    background-color: #ccc;
    cursor: ew-resize;
    width: 10px;
}



/* fifteen */
.benefits i {
    font-size: var(--title-size);
    color: #2e2e2e;
}

.benefits h5 {
    font-size: 16px;
}

.benefits p {
    font-size: var(--small-font);
    letter-spacing: 0.15rem;
}


/* sixten */
.faq-btn {
    all: unset;
    font-size: 16px;
}

.faq-btn:focus {
    outline: none !important;
    border: none !important;
}

/* .card-header:first-child {
    border-top: 1px solid var(--underline-color) !important;
} */

.card-header {
    background-color: #bebebe !important;
    color: var(--black-color) !important;
    /* border: 1px solid var(--underline-color) !important; */
    border: none !important;
    outline: none !important;
}